body {
  background-color: #ffffff;
  margin: 0;
  overflow: auto;
  color: #07305c;
  font-family: "Montserrat", sans-serif;
}

#Line1 {
  background-color: #262626;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
}

#Line2 {
  background-color: #343d46;
  height: 70px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  margin-top: 40px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#Line3_p1 {
  background-color: #165cab;
  margin: 0 auto;
  height: 128px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

#Logo {
  height: 75px;
  width: 75px;
  padding-top: 26px;
  margin-left: 4%;
  position: relative;
  z-index: 1;
}

#HODV {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.25vmax;
  padding-top: 40px;
}

#HOD {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.25vmax;
  color: #000000;
  padding-bottom: 30px;
}

#Inputs {
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

#Link {
  display: inline-flex;
  font-size: 1.25vmax;
  width: 63vw;
  height: 20px;
  margin-top: auto;
  padding-left: 0.5vmax;
  vertical-align: center;
}

#Button {
  width: 26px;
  height: 26px;
  font-size: 2vw;
}

#Amount {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5vmax;
}

#Select {
  font-size: 1.5vmax;
}

#instructions {
  font-size: 1.5vmax;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
}

#Label {
  font-family: "Montserrat", sans-serif;
  font-size: 1vmax;
  padding-left: 10px;
}

#graph2_p2, #graph3_p2, #graph4_p2, #graph5_p2{
  padding-top: 20px;
}

#graphType1_p2, #graphType2_p2, #graphType3_p2, #graphType4_p2, #graphType5_p2{
  font-size: 1vmax;
  margin-bottom: 10px; 
  margin-top: 15px;
}

#graphInfo1_p2, #graphInfo2_p2, #graphInfo3_p2, #graphInfo4_p2, #graphInfo5_p2 {
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 55vmin;
  max-height: 15vmax;
  overflow-y: auto;
  margin: auto;
  padding: 10px;
  font-size: 1.25vmax;
} 

#bs1_p2, #bs2_p2, #bs3_p2, #bs4_p2, #bs5_p2 {
  text-align: center
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vmax;
}

#next, #back, #reload {
  width: 8vmax;
  height: 2vmax;
  font-size: 1vmax;
}

#buttons {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Navigation Bar */

a {
  text-decoration: none;
}

li {
  list-style: none;
  z-index: 100;
  font-size: 20px;
}

.navbar {
  display: flex;
  margin-top: -100px;
  margin-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
}

.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-top: 38px;
  margin-left: 2rem;
  margin-right: 1rem;
  padding-right: 10px;
}

.nav-link {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.nav-link:hover {
  color: #aaaaaa;
}

#ending {
position: relative;
bottom: 15px;
text-align: center;
left: 0;
right: 0;
padding-top: 20px;
}

#bottom {
font-size: 5px;
color: #ffffff;
}

#maintext {
  background-color: #f2f2f2;
  height: 420px;
  width: 100%;
}

#examples {
  display: inline;
  justify-content: space-around;
  text-align: center;
}

#LGpic, #BGpic, #SPpic, #PCpic, #GGpic{
  height: 15vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

#LGname, #BGname, #SPname, #PCname, #GGname{
  font-family: "Montserrat", sans-serif;
  font-size: 1.25vmax;
}

#LG {
  float: left;
  width: 33%;
}

#BG {
  float: left;
  width: 33%;
}

#SP {
  float: right;
  width: 33%;
}

#PC {
  float: left;
  width: 50%;
}

#GG {
  float: left;
  width: 50%;
}

#PCBS {
  margin-left: 25%;
}

#GGBS {
  margin-right: 25%;
}

#show {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vmax;
  padding-left: 6vw;
}

#g1_p3, #g2_p3, #g3_p3, #g4_p3, #g5_p3 {
  font-size: 1.5vmax;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

#g1_p3 {
  margin-top: 30px;
}

#g2_p3, #g3_p3, #g4_p3, #g5_p3 {
  margin-top: 30px;
}

#t1, #t2, #t3, #t4, #t5 {
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 55vmin;
  max-height: 15vmax;
  overflow-y: auto;
  margin: auto;
  padding: 10px;
  font-size: 1.25vmax;
}

#graph1_p3, #graph2_p3, #graph3_p3, #graph4_p3, #graph5_p3 {
  margin-bottom: 10px;
}

#gt1, #gt2, #gt3, #gt4, #gt5 {
  text-align: center;
}

#g1name_p4, #g2name_p4, #g3name_p4, #g4name_p4, #g5name_p4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vmax;
  margin-bottom: 10px;
  margin-top: 15px;
}

#g2name_p4, #g3name_p4 #g4name_p4, #g5name_p4 {
  margin-top: 30px;
}

#g1pic_p4, #g2pic_p4, #g3pic_p4, #g4pic_p4, #g5pic_p4 {
  background-color: #f2f2f2;
  width: 90vmin;
  height: 45vmin;
  overflow: auto;
  margin: auto;
  font-size: 1vmax;
  margin-bottom: 10px;
}

input[type="color"]  {
  height: 2vmax;
  width: 2vmax;
}

#bs1_p4, #bs2_p4, #bs3_p4, #bs4_p4, #bs5_p4 {
  text-align: center;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vmax;
}

.graphs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}