body {
  background-color: #e6ebee;
  margin: 0;
  overflow-y: scroll;
}

#Line1 {
  background-color: #262626;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  position: fixed;
  top: 0;
}

#Line2 {
  background-color: #343d46;
  height: 50px;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 35px;
}

#Line3 {
  background-color: #165cab;
  margin: 0 auto;
  height: 10px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#Logo {
  z-index: 2;
  height: 65px;
  width: 65px;
}

#HODV {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.5vmax;
  color: #000000;
  position: relative;
}

#Label {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.5vmax;
  color: #000000;
}

#Inputs {
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

#Link {
  display: inline-flex;
  font-size: 1rem;
  width: 50vw;
  height: 25px;
  margin-top: auto;
  padding: 0;
  vertical-align: center;
}

#Button {
  display: flex;
  height: 30px;
  margin-top: auto;
  vertical-align: center;
}

