<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page 5</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>
  <!--Top lines-->
  <body>
      {% if 1 <= graphtotal %}
      <img src= "/static/1.png">
      {% endif %}
      {% if 2 <= graphtotal %}
      <img src= "/static/2.png">
      {% endif %}
      {% if 3 <= graphtotal %}
      <img src= "/static/3.png">
      {% endif %}
      {% if 4 <= graphtotal %}
      <img src= "/static/4.png">
      {% endif %}
      {% if 5 <= graphtotal %}
      <img src= "/static/5.png">
      {% endif %}
    <div id="button">
      <input id="download" type="button" value="Download" />
    </div>
  </body>
</html>