<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page 3</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- remove after -->
  <link rel="stylesheet" href="/static/styles.css" />
  <script src="/static/script.js" defer></script>

   <!-- ADD THIS BACK IN -->
   <!-- <link rel="stylesheet" href="https://storage.googleapis.com/afrstorage/static/styles.css" />
   <script src="https://storage.googleapis.com/afrstorage/static/script.js" defer></script> -->

</head>
<!--Top lines-->
<body>

    <div id="Mainbody">
        <h1 id="Label">Customize Graph</h1>
        <!--Inputs-->

<!-- can change ONLY ids of below, class; If you are rearranging into tables, let me know -->
    <form method="POST" name="axis_select">
        {% if 1 <= graphtotal %}
            <div id="graph1">
                <!-- can change to -->
                <p id="graph1">Graph 1</p> 
                <p>{{graph_type[0]}}</p>
                <br>
                    <p>{{ headers1[0] }}</p>
                    <input type="radio" name="hed1x" value="{{headers1[0]}}-x">X-Axis</input>
                    <input type="radio" name="hed1y" value="{{headers1[0]}}-y">Y-Axis</input>
                </br>
                <br>
                    <p>{{ headers1[1] }}</p>
                    <input type="radio" name="hed1x" value="{{headers1[1]}}-x">X-Axis</input>
                    <input type="radio" name="hed1y" value="{{headers1[1]}}-y">Y-Axis</input>
                </br>
            </div>
        {% endif %}

        {% if 2 <= graphtotal %}
            <div>
                <!-- can change to -->
                <p id="graph2">Graph 2</p>
                <p>{{graph_type[1]}}</p>
                <br>
                    <p>{{ headers2[0] }}</p>
                    <input type="radio" name="hed2x" value="{{headers2[0]}}-x">X-Axis</input>
                    <input type="radio" name="hed2y" value="{{headers2[0]}}-y">Y-Axis</input>
                </br>
                <br>
                    <p>{{ headers2[1] }}</p>
                    <input type="radio" name="hed2x" value="{{headers2[1]}}-x">X-Axis</input>
                    <input type="radio" name="hed2y" value="{{headers2[1]}}-y">Y-Axis</input>
                </br>
            </div>
        {% endif %}
        
        {% if 3 <= graphtotal %}
            <div id="graph{{count}}">
                <!-- can change to -->
                <p id="graph3">Graph 3</p>
                <p>{{graph_type[2]}}</p> 
                <br>
                    <p>{{ headers3[0] }}</p>
                    <input type="radio" name="hed3x" value="{{headers3[0]}}-x">X-Axis</input>
                    <input type="radio" name="hed3y" value="{{headers3[0]}}-y">Y-Axis</input>
                </br>
                <br>
                    <p>{{ headers3[1] }}</p>
                    <input type="radio" name="hed3x" value="{{headers3[1]}}-x">X-Axis</input>
                    <input type="radio" name="hed3y" value="{{headers3[1]}}-y">Y-Axis</input>
            </br>
            </div>
        {% endif %}

        {% if 4 <= graphtotal %}
            <div id="graph{{count}}">
                <!-- can change to -->
                <p id="graph4">Graph 4</p>
                <p>{{graph_type[3]}}</p>
                <br>
                    <p>{{ headers4[0] }}</p>
                    <input type="radio" name="hed4x" value="{{headers4[0]}}-x">X-Axis</input>
                    <input type="radio" name="hed4y" value="{{headers4[0]}}-y">Y-Axis</input>
                </br>
                <br>
                    <p>{{ headers4[1] }}</p>
                    <input type="radio" name="hed4x" value="{{headers4[1]}}-x">X-Axis</input>
                    <input type="radio" name="hed4y" value="{{headers4[1]}}-y">Y-Axis</input>
                </br>
            </div>
        {% endif %}

        {% if 5 <= graphtotal %}
            <div id="graph5">
                <!-- can change to -->
                <p id="graph{{graph}}">Graph 5</p>
                <p>{{graph_type[4]}}</p>
                <br>
                    <p>{{ headers5[0] }}</p>
                    <input type="radio" name="hed5x" value="{{headers5[0]}}-x">X-Axis</input>
                    <input type="radio" name="hed5y" value="{{headers5[0]}}-y">Y-Axis</input>
                </br>
                <br>
                    <p>{{ headers5[1] }}</p>
                    <input type="radio" name="hed5x" value="{{headers5[1]}}-x">X-Axis</input>
                    <input type="radio" name="hed5y" value="{{headers5[1]}}-y">Y-Axis</input>
                </br>
            </div>
        {% endif %}
<!-- can change ONLY ids of above, class; If you are rearranging into tables, let me know -->



        <input type="submit" value="Submit">
    </form>

</body>

</html>